# Dependencies
node_modules/
dist/
android/app/build/
android/.gradle/
android/gradle/
android/local.properties

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
